* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.create-card-btn {
  height: 6vh;
  width: 12vw;
  font-size: 1.2rem;
  color: white;
  background: #3ccfcf;
  border: none;
  border-radius: 5px;
}

.create-study-set-form {
  display: flex;
  justify-content: space-around;
  margin: 10vh 0;
  height: 35vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.create-study-set-form input {
  border: none;
  border-bottom: 1px solid #333333;
  outline: none;
}

.card-display-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  flex-direction: column;
}

.card-btn {
  margin-top: 5vh;
}

.card-editor-table {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.editor-title {
  margin: 5vh 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
}
th {
  text-align: left;
}

table {
  border-spacing: 5px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
form input {
  font-size: 1.4rem;
}

.trash-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: grid;
  margin: 0 auto;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 45vh;
  min-width: 50vw;
  margin: 10vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card h3 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.card-and-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-btn {
  width: 15vw;
  height: 7vh;
  font-size: 1.24rem;
  color: white;
  background: #3ccfcf;
  border: none;
  cursor: pointer;
}
.card-and-button button {
  height: 5vh;
}

.PN-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.header {
  min-height: 13vh;
  background-color: #4257b2;
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

.header .logo {
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-right: 5vw;
}
.header svg {
  color: white;
}

.search-btn,
.search-icon,
.account-btn {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.search-container,
.create-container {
  display: flex;
  flex: 0 5%;
}
.search-container svg,
.create-container svg {
  height: 10vh;
}

.search-input,
.create-btn {
  background: none;
  color: white;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.search-input {
  margin-right: 15px;
}
.search-container::after {
  content: "";
  height: 3vh;
  width: 2px;
  background-color: #354db9;
  margin: auto 0;
}
.create-container {
  flex: 1;
  margin-left: 15px;
}
.search-input::placeholder {
  color: white;
}
.upgrade-btn {
  background: #3ccfcf;
  outline: none;
  border: none;
  padding: 10px;
  height: 5.5vh;
  border-radius: 5px;
  color: white;
  margin-right: 15px;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  z-index: 1;
  transform: translateX(-165px);
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffcd1f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.side-bar {
  width: 20vw;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #333333;
  margin-right: 5vw;
}

.side-bar li {
  list-style-type: none;
  padding: 9px 15px;
  text-align: left;
  font-size: 18px;
}

.side-bar ul {
  min-height: 20vh;
}

.side-bar li:hover {
  background: #ffcd1f;
}

.home-btn {
  background: #ffcd1f;
}
.social-media-icons {
  display: flex;
  min-height: 5vh;
  color: #3ccfcf;
}
.social-media-icons li {
  height: 5vh;
}
.social-media-icons li:hover {
  background: none;
  color: #ffcd1f;
}

.side-bar svg {
  height: 4vh;
}

.side-bar .resources {
  color: #3ccfcf;
}
.resources li {
  font-size: 0.85rem;
  font-weight: bold;
}

.resources li:hover {
  background: none;
  color: #ffcd1f;
}

.home-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-dash {
  width: 70vw;
  margin-top: 5vh;
}

.first-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 35vh;
  display: flex;
  border-radius: 10px;
  z-index: -2;
}

.first-card svg {
  height: 30vh;
  width: 10vw;
  margin: 10vh 0;
}

.first-card div {
  display: flex;
  flex-direction: column;
  width: 83%;
  padding-top: 5vh;
}

.close-card-btn {
  position: relative;
  top: 0;
  height: 5vh;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.recent-cards {
  margin-top: 10vh;
  width: 50%;
}
.recent-cards-title {
  display: flex;
  justify-content: space-between;
  width: 51.55vw;
}

.recent-cards-title a {
  color: #3ccfcf;
  text-decoration: none;
}

.recent-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.recent-card-content {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 25vh;
  width: 25vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  cursor: pointer;
}
.recent-card-content:hover {
  border-bottom: 5px solid #ffcd1f;
}

.recent-card-container .this-user {
  display: flex;
  flex: end;
}

.terms-amount {
  color: grey;
}
